# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [34]:
csvfile= pd.read_csv("../output_data/weatherresult.csv", encoding="utf-8")
csvfile.head()

,Unnamed: 0,city,Long,Lat,Temp (k),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,fagersta,15.79,60.00,288.45,82,22,1.50,SE,1597619846
1,1,luderitz,15.16,-26.65,286.75,52,0,7.77,NaN,1597619228
2,2,albany,-73.97,42.60,295.72,60,27,3.07,US,1597619205
3,3,manga,-1.07,11.66,296.53,89,70,1.88,BF,1597619847
4,4,te anau,167.72,-45.42,277.35,82,75,0.33,NZ,1597619485

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [35]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

In [36]:
gmaps.configure(api_key=g_key)

In [37]:
locations = csvfile[["Lat", "Long"]].astype(float)
humidweight = csvfile["Humidity"].astype(float)

# Convert to float and store
# HINT: be sure to handle NaN values
csvfile = csvfile.dropna()
maxhumidity = humidweight.max()

In [43]:
# Create a humid Heatmap layer
#fig = gmaps.figure()
fig = gmaps.figure(center=(37.0, -122.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights= humidweight, 
                                 dissipating= False, 
                                 max_intensity= maxhumidity,
                                 point_radius = 3)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [23]:
csvfile.head()
#del csvfile['index']

,Unnamed: 0,city,Long,Lat,Temp (k),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,fagersta,15.79,60.00,288.45,82,22,1.50,SE,1597619846
2,2,albany,-73.97,42.60,295.72,60,27,3.07,US,1597619205
3,3,manga,-1.07,11.66,296.53,89,70,1.88,BF,1597619847
4,4,te anau,167.72,-45.42,277.35,82,75,0.33,NZ,1597619485
5,5,punta arenas,-70.92,-53.15,274.98,80,75,8.20,CL,1597619218

In [24]:
#calculations
#A max temperature lower than 80 degrees but higher than 70.
#Wind speed less than 10 mph.
#Zero cloudiness.
#Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.
#use .loc
tempconvert= (csvfile["Temp (k)"] - 273.15) * 9/5 + 32
tempconvert
csvfile["Temp (f)"]= tempconvert
tempgood = csvfile.loc[(csvfile["Temp (f)"] > 60) & (csvfile["Temp (f)"] < 80) &
                        (csvfile["Wind Speed"] < 10) & 
                       (csvfile["Cloudiness"] == 0), :]

tempgood.head()

,Unnamed: 0,city,Long,Lat,Temp (k),Humidity,Cloudiness,Wind Speed,Country,Date,Temp (f)
24,24,vynohradove,32.94,46.37,290.45,58,0,0.89,UA,1597619852,63.140
29,29,puerto del rosario,-13.86,28.50,296.15,69,0,5.70,ES,1597619853,73.400
32,32,vallenar,-70.76,-28.57,289.00,45,0,1.16,CL,1597619854,60.530
40,40,saint-augustin,-58.65,51.23,293.58,56,0,7.51,CA,1597619311,68.774
68,68,port said,32.28,31.26,299.15,78,0,3.10,EG,1597619863,78.800

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [25]:
hotel_df= tempgood[["city", "Long", "Lat", "Country"]]
hotel_df["Hotel Name"]=""

for index,row in hotel_df.iterrows(): #iterow has 2 elements: index and row, inde is 1 element 
    # set up a parameters dictionary
    Lat= row["Lat"]
    Long= row["Long"]
    params = {
        "location": f"{Lat},{Long}",
        "keyword": "Hotel",
        "radius": 5000,
        "type": "lodging",
        "key": g_key
    }

# base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    try:
        hotel_df.loc[index, "Hotel Name"]= response.json()["results"][0]["name"]
    
    except:
        print(row["city"])

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

vynohradove

/Users/fatimadonato/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

saint-augustin
ampanihy
karla
abu samrah
beroroha
genc
dawlatabad
tiznit

In [26]:

hotel_df

,city,Long,Lat,Country,Hotel Name
24,vynohradove,32.94,46.37,UA,
29,puerto del rosario,-13.86,28.50,ES,Hotel El Mirador
32,vallenar,-70.76,-28.57,CL,Hotel Origenes
40,saint-augustin,-58.65,51.23,CA,
68,port said,32.28,31.26,EG,فندق رستا بورسعيد Resta Port Said Hotel
76,miandrivazo,45.47,-19.52,MG,Princesse Tsiribihina
156,ampanihy,44.75,-24.70,MG,
162,cordoba,-64.18,-31.41,AR,Virreinato
165,behat,77.62,30.17,IN,SHER Gill Farmhouse
175,karla,24.93,59.37,EE,
177,masvingo,30.83,-20.06,ZW,Lodge At Ancient City
188,marrakesh,-8.01,31.63,MA,Sofitel Marrakech Lounge & Spa
205,mao,4.27,39.89,ES,Hotel Victori
226,abu samrah,37.18,35.30,SY,
229,port hedland,118.57,-20.32,AU,The Esplanade Hotel
253,leh,77.58,34.17,IN,Hotel Horzay
281,darnah,22.64,32.77,LY,فندق النعيم
304,beroroha,45.17,-21.67,MG,
305,moranbah,148.05,-22.00,AU,Direct Hotels - Monterey Moranbah
314,genc,40.56,38.75,TR,
340,zambezi,23.10,-13.54,ZM,Royal Kutachika Lodge
345,hami,93.45,42.80,CN,Haoli Business Hotel
363,buchlovice,17.34,49.09,CZ,Hotel SKANZEN
390,dawlatabad,64.91,36.41,AF,
434,nola,14.53,40.92,IT,DubaiVillage
446,tiznit,-9.50,29.58,MA,
490,moron,-58.62,-34.65,AR,Hotel Cabildo
507,gazanjyk,55.52,39.24,TM,Railway motel
515,mumford,-0.76,5.26,GH,Blue Diamond Beach and Spa Resort
520,russkaya polyana,31.92,49.42,UA,Vershnyk

In [27]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>city</dt><dd>{city}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [28]:
# use above variables for layer[]
#markers= gmaps.marker_layer(locations, hotel_info) #info_box_template)
markers= gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))